  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html{
    font-size: 62.5%;
    overflow-y: hidden;
  }

  body{
    background-color: $base-background;
    color: $body-default-colour;
    font-size: $base-font-size;
    font-family: $body-font-family;
  }

  h1, h2{
    font-weight: 300;
    margin-bottom: $space;
    margin-top: $space;
  }

  h2{
    word-wrap: break-word;
  }

  p{
    font-size: $paragraph;
    margin-bottom: $space;
  }

  a{
    color: $body-default-colour;
  }

  input[type=text], input[type=email], input[type=password], textarea{
    border: 1px solid $input-border-color;
    color: $body-default-colour;
    font-size: $base-font-size;
    font-family: $body-font-family;
    margin-bottom: $space;
    padding: $input-form-padding;
  }
