  //colour variable
  $border-color: #0d47a1;
  $grey: #f5f5f5;
  $hover-color: #1e88e5;
  $hover-color-pill-buttons: #448aff;
  $item-border-colour: #1976d2;
  $light-gray: #f9f9f9;
  $secondary-font-color: #000;
  $secondary-exit-button-bg: #f9f9f9;

  //boxed view variables
  $boxed-view-overlay-bg: $grey;
  $boxed-view-bg: #fff;
  $boxed-view-list-bg: #fff;
  $boxed-view-border-colour: $border-color;

  //generic spacing
  $Editor-textareasize: 50rem;
  $large-space: 2.8rem;
  $space: 1.4rem;
  $site-max-width: 120rem;

  //base variables
  $base-font-size: 1.6rem;

  //base-background variables
  $base-background: $grey;
  $body-default-colour: #333333;
  $body-font-family: Helvetica, Arial, sans-serif;

  //Input margin size
  $input-margin-bottom: 1.4rem;

  //Input border color
  $input-border-color: $grey;

  //Form Input
  $input-form-padding: 1.5rem;

  //Not found paragraph
  $paragraph: 8pt;

  //link description
  $link-description-size: $base-font-size;

  //button background, border, color
  $button-background: #0d47a1;
  $button-border: none;
  $button-color: #fff;

  //button--pill color
  $button-pill-color: #1565c0;

  //Title/Nav bar
  $navbar-color-bg: #1565c0;
  $navbar-font-color: #fff;
  $navbar-header-height: 8rem;

  //Page-content NB! note what we use when we try to inject scss variable into a function eg calc
  $page-content-sidebar-width: 40rem;
  $page-content-main-width: calc(#{$site-max-width} -  #{$page-content-sidebar-width});
  $page-content-height: calc(95vh - #{$navbar-header-height});

  //DieselEditor Item
  $item-bg: $item-border-colour;
  $item-border: $item-border-colour;
  $item-text-color: $body-default-colour;
