  .boxed-view{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }

  .boxed-view__box{
    background-color: $boxed-view-bg;
    border: 1px solid $boxed-view-border-colour;
    padding: 2.4rem;
    text-align: center;
    width: 24rem;
  }

  .hidden{
    display: none;
  }

  .boxed-view__box__address{
    background-color: $boxed-view-list-bg;
    border: 1px solid $button-pill-color;
    float:bottom;
    left: 35%;
    margin-bottom: $space;
    margin-top: $space;
    max-width: 30vw;
    padding: $space;
    position: relative;
    transition: width .1s ease-in-out;
    width: 30vw;
  }

  .boxed-view__box__edit{
    background-color: $boxed-view-list-bg;
    border: 1px solid $button-pill-color;
    float: bottom;
    left: 5vw;
    margin-bottom: $space;
    margin-top: $space;
    max-width: 30vw;
    padding: $space;
    position: relative;
    transition: width .1s ease-in-out;
    width: 30vw;
  }

  .boxed-view__form{
    display: flex;
    flex-direction: column;
  }

  .boxed-view__paragraph{
    color: dimgrey;
    font-size: $paragraph;
  }

  .boxed-view--modal{
    background: fade_out($boxed-view-overlay-bg, .3);
    bottom: 0;
    left: 0;
    position: fixed; //position relative to the browsers view port
    right: 0;
    top: 0;
  }
