  .button{

    background-color: $button-background;
    border: $button-border;
    color: $button-color;
    cursor: pointer;
    font-size: $base-font-size;
    line-height: 1.2;
    margin-bottom: $space;
    padding: $input-form-padding ;
    text-transform: uppercase;
  }

  .button--link{
    cursor: pointer;
    display: inline-block;
    padding: $input-form-padding;
    text-decoration: none;
  }

  .button--pill{
    background-color: transparent;
    border: 1px solid $button-background;
    border-radius: 10%;
    color: $button-pill-color;
    margin: $space/2;
    padding: .3rem .8rem;
  }

  .button--secondary{
    background-color: $secondary-exit-button-bg;
    border: 1px solid $grey;
    color: $secondary-font-color;
  }

  .button--logout{
    border: 1px solid $grey;
    float: right;
    left: 40%;
    margin-bottom: $space;
    margin-top: $space;
    position: relative;
  }

  .button--add{
    left: 40%;
    margin-top: $space;
    position: relative;
  }

  .button--clear{
    left: 40%;
    margin-left: $space;
    margin-top: $space;
    position: relative;
  }

  .button--logout:hover{
    background-color: $hover-color;
  }

  .button:hover{
    background-color: $hover-color;
  }

  .button--secondary:hover{
    background-color: $grey;
  }

  .button--pill:hover{
    background-color: $hover-color-pill-buttons;
  }
