  .editor{
    background-color: white ;
    border: 1px solid $grey;
    display: flex;
    flex-direction: column;
    padding: $space;
    width: 100%;
  }

  .editor__add{
    background-color: white ;
    border: 1px solid $grey;
    display: flex;
    flex-direction: column;
    padding: $space;
    width: 40rem;
  }

  .editor__town{
    background-color: white ;
    border: 1px solid $grey;
    display: flex;
    flex-direction: column;
    margin-left: 30rem;
    padding: $space;
    width: 100%;
    width: 45rem;
  }

  .editor__title{
    border: none;
    border-bottom: 2px solid $button-background;
    font-size: 1.5em;
    margin-bottom: $large-space;
    padding: $space;
  }

  .editor__textarea{
    border: 1px solid $button-background;
    color: $body-default-colour;
    font-weight: 300;
    height: $Editor-textareasize;
    margin-bottom: $large-space;
    outline: none;
    padding: $space;
    resize: none;
    -webkit-overflow-scrolling: touch;
  }

  .dropdown{
    border: 1px solid $button-background;
    color: $body-default-colour;
    height: $large-space;
    margin-bottom: $large-space;
    outline: none;
    width: 40rem;
  }

  .editor__input{
    border: 1px solid $button-background;
    color: $body-default-colour;
    font-weight: 300;
    height: $large-space;
    margin-bottom: $large-space;
    outline: none;
    padding: $space;
    resize: none;
    width: 40rem;
    -webkit-overflow-scrolling: touch;
   }

  .editor__select{
    border: 1px solid $button-background;
    color: $body-default-colour;
    font-weight: 300;
    margin-bottom: $large-space;
    padding: $space;
    width: 40rem;
  }

  .editor__message{
    font-style: italic;
    font-size: $base-font-size;
    margin: $large-space;
    text-align: center;
  }
