  .item-list{
    background-color: white;
    border: 1px solid $grey;
    overflow-y: scroll;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .item-list__header{
    display: flex;
    flex-direction: column;
    padding: $large-space;
  }

  .item{
    border-left: 4px solid transparent;
    cursor: pointer;
    padding: $space;
  }

  .item:hover{
    background: $light-gray;
    border: 1px solid $light-gray ;
    border-left: 4px solid $boxed-view-border-colour;
    transition: background-color .3s ease, border-left .3s ease;
  }

  .item__message{
    color: $item-text-color;
  }

  .item__status-message{
    color: $item-text-color;
    font-style: italic;
    margin: 0;
    text-align: center;
  }

  .item__title{
    font-weight: normal;
    font-size: $base-font-size;
    margin-bottom: $space;
  }

  .item--selected .item__title{
    font-weight: bold;
  }

  .item--selected .item__subtitle{
    font-weight: bold;
  }

  .item__subtitle{
    font-weight: normal;
    font-size: $base-font-size;
    margin: 0;
  }

  .empty-Item{
    font-style: italic;
    font-size: $base-font-size;
    padding: $large-space;
    text-align: center;
  }

  .item--selected, item--selected:hover{
    background-color: $light-gray;
    border-left: 4px solid $boxed-view-border-colour;
  }
