  .link-view-list{
    background-color: $boxed-view-list-bg;
    float: bottom;
    margin-bottom: $space;
    margin-top: $space;
    max-width: 30vw;
    padding: $space;
    position: relative;
    transition: width .1s ease-in-out;
    width: 30vw;
  }

  .link-view-list:hover{
    transform: scale(1.01);
  }

  .link--filter{
    left: 40%;
    position: relative;
  }

  .link--paragraph{
    color: #607D8B;
    font-size: $link-description-size;
    word-wrap: break-word;
  }

  .scroll{
    height: 500px;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar { //hides the scroll bar on the links list
    display: none;
  }
