  #addBlock{
    display: none;
  }

  #map {
    border: solid 10px;
    border-color: $border-color;
    height: 40rem;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
  }

  #MapBox2{
    display: none;
  }
  #MapBoxAddress{

    display:none;
  }


  #MapBox{
    display: none;
  }

  #map3 {
    border: solid 10px;
    border-color: $border-color;
    display: flex;
    height: 450px;
    max-width: 100%;
    margin-left: 20rem;
    width: 70%;
  }

  #map4 {
    border: solid 10px;
    border-color: $border-color;
    height: 40rem;
    max-width: 100%;
    max-height: 100%;
    width: 70rem;
  }

  #locationField, #controls {
    position: relative;
    width: 480px;
  }

  .label {
    color: #303030;
    font-weight: bold;
    font-family: "Roboto";
    text-align: right;
    width: 100px;
  }
  #address{
    border: 1px solid #000090;
    background-color: #f0f9ff;
    padding-right: 2px;
    width: 480px;
  }

  #address td {
    font-size: 10pt;
  }

  .field {
    width: 99%;
  }

  .slimField {
    width: 80px;
  }

  .wideField {
    width: 200px;
  }

  #locationField {
    height: 20px;
    margin-bottom: 2px;
  }

  #right-panel select, #right-panel input {
    font-size: 15px;
  }

  #right-panel select {
    width: 100%;
  }

  #right-panel i {
    font-size: 12px;
  }

  #right-panel {

    border-width: 2px;
    float: left;
    height: 400px;
    margin: 20px;
    padding-top: 0;
    text-align: left;
    width: 50%;
  }

  #right-waypoint{
    display: flex;
    margin-left: 30rem;
  }

  #right-way{
    display: flex;
    margin-left: 30rem;
  }

  #button{
    margin: 10px;
    padding-left: 10px;
  }

  #directions-panel {
    background-color: #448aff;
    color: #f9f9f9;
    height: 174px;
    margin-left: 30rem;
    margin-top: 10px;
    overflow: scroll;
    padding: 10px;
    width: 40%;
  }

  #directions-panel2 {
    background-color: #448aff;
    color: #f9f9f9;
    height: 174px;
    margin-left: 30rem;
    margin-top: 10px;
    overflow: scroll;
    padding: 10px;
    width: 40%;
  }

  #editor{
    display: none;
  }

  #view{
    display: none;
  }
