  .page-content{
    display: flex;
    height: $page-content-height;
    margin: 0 auto;
    max-width: $site-max-width;
    @include Desktop {
      padding: $large-space $space;
    }
    }

  .page-content__main {
    display: flex;
    width: 100%;
    @include Desktop {
      width: $page-content-main-width;
    }
  }

  .page-content__sidebar{
    bottom: 0;
    display: flex;
    left: -100vw;
    position: fixed;
    transition: left .3s ease;
    top: 9rem;
    width: 100vw;
    z-index: 1;
    @include Desktop {
      display: flex;
      padding-right: $large-space;
      position: static;
      width: $page-content-sidebar-width;
    }
  }

  //go ahead and target the side-bar inside is-nav-open class
  .is-nav-open .page-content__sidebar{
  left: 0;
  }
