  .nav-bar{
    align-items: center;
    background-color: $navbar-color-bg;
    color: $navbar-font-color;
    display: flex;
    height: $navbar-header-height;
    margin-bottom: $space;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .nav-bar--title {
    left: 18.5%;
    position: relative;
  }

  .nav-bar__nav-toggle{
    cursor: pointer;
    height: 4rem;
    margin-left: $large-space;
    width: 4rem;
    @include Desktop{
      display: none;
    }
  }
